<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>

    <body>
    <div>
        <!--<img src="./img/success-button.png" alt="">-->
    </div>
    <div class="container">
        <div class="contenedor">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto  wow zoomIn">
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-4"> <br> <br> <br> <br>

                                LOGIN FAILED !
                                Check your email or password !
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- jQuery Plugins -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>

    </body>

</html>
