<div th:fragment="footer">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <!-- FOOTER -->
    <footer id="footer">
        <!-- NEWSLETTER -->
        <div th:replace="fragments/newsletter :: news"></div>
        <!-- /NEWSLETTER -->

        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Our implementation of online store. If you like it or have questions, feel free to contact us!</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-envelope-o"></i> <a href="mailto:Mateusz.Haberla@gmail.com">Mateusz.Haberla@gmail.com</a></a></li>
                                <li><a href="https://pl.linkedin.com/in/mateuszhaberla"><i class="fa fa-linkedin" aria-hidden="true"></i> LNK DN</i> </a></li>
                                <li><a href="https://www.google.com/maps/place/Pozna%C5%84/data=!4m2!3m1!1s0x470444d2ece10ab7:0xa4ea31980334bfd1?sa=X&ved=2ahUKEwjm-ZeHiMvjAhVvmIsKHQ0jD44Q8gEwAHoECAoQAQ"><i class="fa fa-map-marker"></i> Poznań</a></li>
                                <br>
                                <!--                TU TRZA ZROBI ŻEBY JEDNO BYŁO POD DRUGIM I MNIEJSZE PADDINGI-->
                                <li><a href="#"><i class="fa fa-envelope-o"></i><a href="mailto:wojciech.klups@gmail.com">Wojciech.Klups@gmail.com</a></a></li>
                                <li><a href="https://www.linkedin.com/in/wojciech-klup%C5%9B-691565b2/"><i class="fa fa-linkedin" aria-hidden="true"></i> LNK DN</i> </a></li>
                                <li><a href="https://www.google.com/maps/place/Pozna%C5%84/data=!4m2!3m1!1s0x470444d2ece10ab7:0xa4ea31980334bfd1?sa=X&ved=2ahUKEwjm-ZeHiMvjAhVvmIsKHQ0jD44Q8gEwAHoECAoQAQ"><i class="fa fa-map-marker"></i> Poznań </a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    </body>
    </html>
</div>