<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>

	<body>
	<!-- BREADCRUMB -->
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Register</li>
					</ol>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">  <h4 >User Profile</h4></div>
						<div class="panel-body">

							<div class="box box-info">

								<div class="box-body">
									<div class="col-sm-6">
										<div  align="center"> <img alt="User Pic"  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

											<input id="profile-image-upload" class="hidden" type="file">
											<div style="color:#999;" >change profile image</div>
											<!--Upload Image Js And Css-->
											<link type="text/css" rel="stylesheet" href="../css/account.css"/>
										</div>

										<br>

										<!-- /input-group  th:text="${user.username}"-->
									</div>
									<div class="col-sm-6">
										<h4 style="color:#D10024;"></h4>
										<span><p>Username : <p th:text="${user.username}"></p></p></span>
									</div>
									<div class="clearfix"></div>
									<hr style="margin:5px 0 5px 0;">

									<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6" th:text="${user.firstName}"></div>
									<div class="clearfix"></div>
									<div class="bot-border"></div>

									<div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7" th:text="${user.lastName}"></div>
									<div class="clearfix"></div>
									<div class="bot-border"></div>

									<div class="col-sm-5 col-xs-6 tital " >Address:</div><div class="col-sm-7" th:text="${user.address}">user.address</div>

									<div class="clearfix"></div>
									<div class="bot-border"></div>

									<div class="col-sm-5 col-xs-6 tital " >Postal Code:</div><div class="col-sm-7" th:text="${user.postalCode}">user.postalCode</div>

									<div class="clearfix"></div>
									<div class="bot-border"></div>

									<div class="col-sm-5 col-xs-6 tital " >City:</div><div class="col-sm-7" th:text="${user.city}">user.city</div>

									<div class="clearfix"></div>
									<div class="bot-border"></div>

									<div class="col-sm-5 col-xs-6 tital " >Phone number:</div><div class="col-sm-7" th:text="${user.phoneNumber}">user.phoneNumber</div>

									<div class="clearfix"></div>
									<div class="bot-border"></div>

									<div class="col-sm-5 col-xs-6 tital " >Email:</div><div class="col-sm-7" th:text="${user.email}">user.email</div>


									<!-- /.box-body -->
								</div>
								<!-- /.box -->

							</div>


						</div>
					</div>
				</div>
				<script>
					$(function() {
						$('#profile-image1').on('click', function() {
							$('#profile-image-upload').click();
						});
					});
				</script>

			</div>
		</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
