<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>

<body>
<!-- BREADCRUMB -->
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                </ol>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <table>
            <tr>
                <th>Option</th>
                <th>Id</th>
                <th>Product Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            <div th:with="total" th:value="0"></div>
            <div th:block th:each="products : ${sessionScope.cart}">
                <div th:with="total" th:value="${total + product.price * product.quantity}"></div>
                <tr>
                    <td align="center">
                        <a href="${pageContext.request.contextPath}/cart/remove/${product.id}"
                           onclick="return confirm('Are you sure?')">Remove</a> </td>
                    <td>${product.id}</td>
                    <td>${product.name}</td>
                    <td>${product.photo}</td>
                    <td>${product.price}</td>
                    <td>${product.quantity}</td>
                    <td>${product.price * product.quantity}</td>
                </tr>
            </div>
            <tr>
                <td clospan="6" align="right">Sum</td>
                <td>${total}</td>
            </tr>
            </table>
            <br><a href="/store">Continue shopping</a>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
